.bracket-entire-page {
    height: 110vh;
    width: 100vw;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
.bracket-page {
    background-image: url('../../images/bracket-lines.png');
    background-size: 54% 60%;
    background-repeat: no-repeat;
    background-position: calc(50%)  calc(50% + 15vw) ;
    /* background-origin: padding-box; */
    /* margin-left: 10%;
    margin-right: 10%; */
}

/* Matchup */
.matchup {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    margin-bottom: 6vw;
}
.matchup-item {
    width: 35%;
    margin: 1vw;
    font-size: 3vw;
}
.vs {
    align-self: center;
    justify-self: center;
}
.matchup-item .description a {
    /* margin-top: 0.25vw; */
    display: inline-block;
    /* font-weight: bold; */
    /* color: #E9F907; */
    line-height: 3.5vw;
}

.matchup .description {
    height: 6.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.matchup-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1vw;
}
.matchup-image .img {
    height: 35vw;
    width: 35vw;
    object-fit: cover;
}

/* Bracket */
.bracket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding-left: 3%;
    padding-right: 3%;
    
}
/* .bracketColumnFour .img {
    filter: brightness(75%);
} */
.bracketColumnEight {
    display: flex;
    flex-direction: column;
    flex:1 1;
    width: 25%;
    box-sizing: border-box;
    float: left;
    /* justify-content: space-between; */
    height: 100%;
}
.bracketColumnFour {
    display: flex;
    flex-flow: column;
    flex:1 1;
    width: 25%;
    box-sizing: border-box;
    float: left;
    align-items: center;
    justify-items: space-between;
    /* height: 100%; */
    padding-bottom: 5vw;
}
/* .bracketColumnTwo {
    display: flex;
    flex:1;
    flex-direction: column;
    width: 10%;
    box-sizing: border-box;
    float: left;
    justify-content: space-between;
} */
.bracket-item {
    flex: 1;
    width: 80%;
    /* justify-self: center; */
    align-self: center;
    max-height: 100%;
}
.bracket-item-four-left {
    flex: 1;
    width: 80%;
    /* justify-self: center; */
    /* align-self: center; */
    margin-right: auto;
    /* margin-top:auto */
    margin-left: auto;
}
.bracket-item-four-right {
    flex: 1;
    width: 80%;
    /* justify-self: center; */
    /* align-self: center; */
    margin-left: auto;
    margin-right: auto;
}
.bracket-item-two-left {
    flex: 1;
    width: 80%;
    margin-top: 10.25vw;
    margin-bottom: 10.25vw;
    /* justify-self: center; */
    /* align-self: center; */
    margin-left: auto;
}
.bracket-item-two-right {
    flex: 1;
    width: 80%;
    margin-top: 10.25vw;
    margin-bottom: 10.25vw;
    /* justify-self: center; */
    /* align-self: center; */
    margin-right: auto;
}

.bracketColumnEight .img{
    height: 19vw;
    justify-self: center;
    align-self: center;
    margin-bottom: 0.2vw;
}
.bracketColumnFour .img{
    height: 15vw;
    width: 15vw;
    justify-self: center;
    align-self: center;
}
.bracket-item-two-left .img{
    height: 12vw;
    width: 12vw;
    align-self: center;
    margin-left: auto;
    margin-right: 1vw;
}
.bracket-item-two-right .img{
    height: 12vw;
    width: 12vw;
    align-self: center;
    margin-right: auto;
    margin-left: 1vw;
}
.bracket-item .description p {
    margin: 0;
    display: inline-block;
    line-height: 1;
}
.bracket-item a {
    line-height: 2.1vw;
}

.image {
    width: 100%;
    object-fit: contain;
    margin-bottom: 0.1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}
.bracketColumnEight .description {
    display: flex;
    flex-direction: row;
    height: 4.1vw;
    overflow:hidden;
    margin-bottom: 0.6vw;
}
.bracketColumnEight .seed {
    text-align: left;
    font-size: 3.75vw;
    padding-top: 0.25vw;
    padding-right: 0.25vw;
}
.bracketColumnEight .name {
    height: 100%;
    font-size: 1.75vw;
    padding-top: 0.2vw;
    width: 100%;
    margin-left: auto;
    justify-self: stretch;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:pre-wrap;
    color: white;
}
a {
    text-decoration: none; /* Remove underline */
    cursor: default; /* Remove cursor change when hovering */
    outline: none; /* Remove outline when clicked */
}


.matchup-winner {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5.5vw;
}

.matchup-winner .image {
    overflow: hidden;
    margin-bottom: 0.5vw;
}

.matchup-winner .img {
    height: 35vw;
    width: 35vw;
    object-fit: cover;
}

.matchup-winner .description p {
    margin: 0;
    display: inline-block;
    /* font-size: 1.2rem; */
    line-height: 1;
}
.fake-two {
    height: 12vw;
    width: 12vw;
    margin-bottom: 0.1vw;
}
.fake-four {
    height: 15vw;
    width: 15vw;
    margin-bottom: 0.1vw;
}

.matchup-item .seed {
    text-align: left;
    /* font-size: 1.5rem; */
    padding-right: 0.25vw;
}
.matchup-winner .seed {
    text-align: left;
    font-size: 1.5rem;
    padding-right: 0.25vw;
}
.winner-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.winner-pretext{
    margin: 0vw;
    font-size: 1rem;
}
.winner-text{
    margin: 0vw;
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bracket-text-description {
    text-align: center;
    font-size: 1rem;
    margin-top:2vw;
    margin-bottom: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.spotify-logo-div {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
.spotify-logo {
    width: 100%;
}